{% load static %}
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title>La Maison (re)connectée</title>
    
    <script type="module" src="{% static 'website/js/app.js' %}"></script>
    <link rel="stylesheet" href="{% static 'website/css/app.css' %}" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/primeflex/3.3.1/primeflex.min.css" integrity="sha512-lgW20MsPeg254Pqm/Wfu3UrS0b5z5VoLcfgYthMePeoCUR8hgiswV9FllOYd3YZvckbjz+jnfiAMnXjSQmeB5w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/primeicons/6.0.1/primeicons.min.css" integrity="sha512-c0Y5PGgrf6YXC12zY4vBuSai7jo75U1vhowEhHTb6Hcn4PNv88Ip1fVFkFOhuXtb6qfFHbRvlfOznlgVTlVmUQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
