{% extends 'website/auth/base.html' %}
{% load static %}

{% block block_left %}

<section class="py-4 flex flex-column">
  
  <h2 class="text-6xl font-secondary text-color-secondary font-normal pt-4">
      Bienvenue dans <br> 
      La maison (re)connectée,
  </h2>

  <h3 class="font-bold mt-2">
      Venez découvrir les services numériques du quotidien !
  </h3>

  
  <a class="button button-secondary mt-4 align-self-center" href="https://mrc-app.numnprod.fr" target="_blank">
      Entrez dans La maison (re)connectée
  </a>

  <p class="separator"><span>ou</span></p>

  <p class="text-base mb-3">Saraceni temen nec amici  nobis umquam</p>
  <a class="button button-secondary-outlined align-self-center mb-6" href="{% url 'projet' %}">
      En savoir plus sur le projet
  </a>

  <p class="text-base mb-3">Saraceni temen nec amici  nobis umquam</p>
  <a class="button button-secondary-outlined align-self-center" href="{% url 'mediateur' %}">
      Espace médiateur
  </a>

</section>

{% endblock %}

