Django
django-extensions
django-cors-headers
django-rest-framework
django-allauth
djangorestframework-simplejwt
djangorestframework-camel-case
django-filter
drf-yasg
django-autoslug
django-taggit
pillow
drf-flex-fields
djangorestframework-api-key
django-environ
dj-rest-auth==4.0.1
paho-mqtt
pandas[excel]