Django
django-extensions
django-cors-headers
djangorestframework
drf-flex-fields
dj-rest-auth==4.0.1
djangorestframework-api-key
djangorestframework-simplejwt
djangorestframework-camel-case
django-allauth==0.54.0
django-filter
drf-yasg
django-autoslug~=1.9.9
django-taggit
pillow
django-environ
pandas[excel]~=2.0.3
paho-mqtt
django-anymail
weasyprint
pyusb
python-escpos
