{% load static %}
<html>
<head>
<link rel="stylesheet" href="https://unpkg.com/primeflex@^3/primeflex.css">
<link rel="stylesheet" href="https://unpkg.com/primeicons/primeicons.css">
<link rel="stylesheet" href="https://unpkg.com/primeflex/themes/saga-blue.css">
<style>
  @page {
    size: a4 portrait;
    margin: 20px 10px;
  }
</style>
</head>
<body>


  <div class="bg-white p-4">
    <div class="flex justify-content-center">

      <img src="{{ host }}{% static 'core/logo_mrc.png' %}" width="400" class="m-3" alt="{{ host }}{% static 'core/logo_mrc.png' %}"/>
    </div>
{%  for service in services %}

  <div class="flex flex-column border-2 border-round p-4 shadow-2"
  style="border-color: #ff5738;color: #1C096B;margin-bottom:10px;border-radius:5px">
          <span class="font-bold">{{ service.title }}{% if service.scope %} - <i class="pi pi-map-marker mr-2"></i>{{service.scope}}{% endif %}</span>
          <div style="margin-top: 15px;">
            {{ service.description|safe }}
          </div>
          <span class="font-bold" style="word-wrap: break-word;"><i class="pi pi-globe mr-2"></i>{{service.url}}</span>
        </div>
{% endfor %}
        </div>
</body>
</html>