.auth {
    input {
        display: block;
        height: 45px;
        width: 100%;
        border-radius: 10px;
        border: 1.5px solid var(--gray-300, #D2D2D2);
        color: var(--gray-200);
        padding-left: 20px;

        &::placeholder {
            color: var(--gray-300);
            font-family: 'Open Sans', sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            text-decoration: none;
        }

        &:focus {
            outline: none;
            color:var(--gray-900);

            &:not(:placeholder-shown) {
                border-color: var(--text-color-secondary);
                color:var(--gray-900);
            }

            &::-webkit-search-cancel-button:after {
                content: "?";
                color: green;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        &[type="search"] {
            border: none;
            border-bottom: 2px solid var(--text-color);
            border-radius: 0;
            background-image: url("/static/website/images/loupe.svg");
            background-repeat: no-repeat;
            background-position: left center;
            padding-left: 30px;
            
            &::-webkit-search-cancel-button:after {
                content: "?";
                color: green;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        &[type="checkbox"] {
            width: 14px;
            height: 14px;
            border-radius: 2px;
            border: 1.5px solid var(--text-color-secondary);
        }
    }

    .block {
        &-right {
            display: none;
            background-color: var(--orange-100);
            height: 100%;
            flex: 1;
            justify-content: center;
            align-items: center;

            @media (min-width: 1015px) {
                display: flex;
            }
        }
        &-left {
            flex: 1;
            height: 100vh;

            section {
                max-width: 380px;
                margin: auto;
                height: 100%;
                position: relative;
            }
        }
    }

    .separator {
        color: var(--gray-300);
        font-size: 12px;
        font-weight: 600;
        line-height: normal;
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 40px;
        margin-bottom: 40px;

        &::before,
        &::after {
            content: "";
            height: 1px;
            background-color: var(--gray-300);
            width: 46%;
        }
    }

    .tunnel {
        display: flex;
        justify-content: center;
        align-items: center;
        
        .dot {
            width: 10px;
            height: 10px;
            border-radius: 0.5em;
            background: var(--gray-300);
        }
    
        .dot.current {
            width: 30px;
            background-color: var(--primary-color);
        }
    }
}