
{% load static %}
<header class="bg-primary h-1 pt-3 pb-3 relative">
  <nav class="container flex justify-content-between align-items-center">
    
    <a href="/">
      <img src="{% static 'website/images/logo.svg' %}" alt="">
    </a>
    
    <div class="navbar flex text-2xl align-items-center font-secondary" id="navBar">
      <a class="text-white mr-4 no-underline hover-underline" href="{% url 'mediateur' %}">Accueil</a>
      <a class="text-white mr-4 no-underline hover-underline" href="{% url 'maison' %}">La maison</a>
      <a class="text-white mr-4 no-underline hover-underline" href="{% url 'popup' %}">Le pop-up</a>
      <a class="text-white mr-4 no-underline hover-underline" href="{% url 'login' %}">Contact</a>
    </div>

    <a href="{% url 'profile' %}">
      <img src="{% static 'website/images/profil.svg' %}" alt="">
    </a>

    <a class="md:hidden" id="toggleMobileNav">
      <i class="pi pi-bars text-white"></i>
    </a>

  </nav>
</header>