{% extends 'website/mediateur/base.html' %}
{% load static %}

{% block content %}

    <!-- Info -->
    <div class="info flex align-items-center justify-content-center mt-4 px-4 py-2">
        <div class="flex flex-wrap mr-4 lg:text-base text-xs">
            <p class="font-bold mr-4">Propriétaire d'une maison Re-connectée ? </p>
            <p class="text-color-secondary font-bold">Une mise à jour est disponible </p>
        </div>
        
        <button class="button button-secondary-outlined button-small m-2">
            En savoir plus
        </button>

        <a href="" class="info-close ml-4">
            <i class="pi pi-times"></i>
        </a>
    </div>

    <!-- Main -->
    <section class="mt-4 flex flex-column md:flex-row justify-content-between align-items-center">

        <div class="lg:w-6">

            <h1 class="text-6xl font-secondary text-color-secondary font-normal">
                Les Maisons (re)connectée <br>
                en France
            </h1>
            <h3 class="font-secondary text-3xl mt-3">
                Retrouvez ici les espaces de médiation déja équipés d’une Maison (re)connectée !
            </h3>
            <p class="text-l mt-3">
                Notre carte interactive permet de retrouver rapidement les utilisateurs de la Maison (re)connectée près de chez vous !
            </p>
            <p class="text-base mt-3">
                Vous utilisez la maison (re)connectée ? Soyez visible de tous, et échanger avec la communauté !
            </p>
            <div class="mt-6">
                <button class="button button-secondary">Je souhaite apparaître sur la carte interactive</button>
            </div>

        </div>

        <div class="image mt-6 lg:w-6">
            <img src="{% static 'website/images/map.svg' %}" alt="Image">
        </div>



    </section>

    <section class="mt-8">


        <h3 class="text-4xl font-secondary text-color-secondary font-normal">
            Avoir sa Maison (re)connectée ?
        </h3>
        
        <p class="text-xl  font-normal mt-4 mb-4">
            Envie de vous lancer dans l'aventure Maison (re)connectée ? Choisissez le format adapté à votre usage de médiation et commencez à construire.
        </p>

        <div class="flex flex-column md:flex-row justify-content-between align-items-center mt-6">

            <div class="image w-10rem flex-shrink-0 mb-4 md:mr-4">
              <img src="{% static 'website/images/physique.svg' %}" alt="Image">

            </div>
            <div>
                <h3 class="font-secondary  text-3xl">La maquette</h3>
                <p class=" text-base mt-4">
                    Une version simple à construire par vous-même à l'aide de plans. À
                    l'intérieur, des QR codes renvoient aux services associés aux objets. Il est transportable, se
                    plie et se déplie pour une prise en main facile à la rencontre du public.
                </p>
                <a class="button button-secondary-outlined mt-4" href="{% url 'maison' %}">En savoir plus</a>
            </div>

        </div>

        <div class="flex flex-column md:flex-row justify-content-between align-items-center mt-6">

            <div class="image w-10rem flex-shrink-0 mb-4 md:mr-4">
              <img src="{% static 'website/images/itinerante.svg' %}" alt="Image">

            </div>
            <div>
                <h3 class="font-secondary  text-3xl">Le pop-up</h3>
                <p class=" text-base mt-4">Une version simple à construire par vous-même à l'aide de plans.
                    À
                    l'intérieur, des QR codes renvoient aux services associés aux objets. Il est transportable, se
                    plie et se déplie pour une prise en main facile à la rencontre du public.</p>
                <a class="button button-secondary-outlined mt-4" href="{% url 'popup' %}">En savoir plus</a>
            </div>

        </div>

    </section>

{% endblock %}