{% extends 'website/mediateur/base.html' %}
{% load static %}

{% block content %}

        <section class="mt-8">
            
            <h2 class="text-4xl font-secondary text-color-secondary font-normal mt-4 mb-4">Qu'est ce que la Maison (re)connectée ?</h2>
            
            <video class="w-full" controls>
                <source src="{% static 'videos/intro.mp4' %}" type="video/mp4">
                Votre navigateur ne supporte pas la lecture de vidéos au format HTML5.
            </video>
            
            
        </section>
        
        
        <section>
            
            <div class="flex justify-content-between align-items-center mt-2">
                
                <div class="p-4">
                    <h2 class="text-4xl font-secondary text-color-secondary font-normal mt-6">Comment fabriquer votre Pop Up ?</h2>
                    <p class=" text-base mt-4">Pour construire votre Maison (re)connectée, téléchargez les
                        plans en
                        consultant nos recommandations. La construction peut être réalisée par une manufacture de
                        proximité (consultez la liste des manufactures lien)</p>
                        
                        <button class="button button-secondary mt-4">
                            <i class="pi pi-download"></i>
                            Télécharger les plans
                        </button>
                        
                    </div>
                    
                </div>
                
                
                <div class="flex justify-content-between align-items-center mt-2">
                    
                    <div class="p-4">
                        <h2 class="text-4xl font-secondary text-color-secondary font-normal mt-6">Comment ça marche ?</h2>
                        <p class="text-base mt-4">
                            Une fois votre Pop-Up construit, dépliez le, et trouvez les QR codes.
                            Ils vous renvoient aux différents services associés aux objets directement sur l’application
                            Web. Il se replie et range facilement pour être transporté partout !
                        </p>
                        
                        <div class="mt-4 flex flex-wrap justify-content-between">
                            <div class="block-image mb-2"></div>
                            <div class="block-image mb-2"></div>
                            <div class="block-image mb-2"></div>
                        </div>
                        
                    </div>
                </div>
                
            </div>
            
        </section>
        
{% endblock %}