{% extends 'website/auth/base.html' %}
{% load static %}
{% block block_left %}
      <section class="pt-4 pb-4 flex flex-column">
        
        <h2 class="text-6xl font-secondary text-color-secondary font-normal mb-4">Bienvenue !</h2>

        <h3 class=" font-bold mb-4">Vous disposez d’un compte médiateur ? Connectez-vous !</h3>
        
        <div class="mb-3">
          <input type="text" placeholder="Adresse mail">
        </div>

        <div class="mb-3">
          <input type="password" placeholder="Mot de passe">
        </div>

        <div class="flex justify-content-between align-items-center mb-4">
          <div class="flex justify-content-between align-items-center">
            <input type="checkbox" id="remember" name="remember" value="valeur">
            <label class="text-xs ml-2" for="remember">Se souvenir de moi</label>
          </div>
          <p class="text-color-secondary text-xs">Mot de passe oublié ?</p>
        </div>
        
        <a class="button button-secondary" href="{% url 'mediateur' %}">
          Se connecter
        </a>
        
        <p class="separator"><span>ou</span></p>

        <p>Pas encore de compte ? Inscrivez vous !</p>
        <a class="button button-secondary-outlined mt-4" href="{% url 'signup' %}">
          S'inscrire
        </a>

      </section>
{% endblock %}

