{% extends 'website/auth/base.html' %}
{% load static %}
{% block block_left %}
      <section class="pt-4 pb-4 flex flex-column">

        <div class="flex-grow-1">

          <h2 class="text-6xl font-secondary text-color-secondary font-normal mb-4">Inscrivez-vous !</h2>
          <h3 class=" font-bold mb-4">Sélectionner votre structure</h3>
  
  
          <div class="mb-4">
            <label for="recherche"></label>
            <input type="search" id="recherche" name="recherche" placeholder="Rechercher votre structure" />
          </div>
  
          <div class="flex mb-4">
            <label class="toggle-label font-bold text-xs mr-3" for="toggle-switch">Je souhaite apparaître sur la carte
              intéractive</label>
            <input type="checkbox" class="switch" id="switch" /><label for="switch">Toggle</label>
          </div>
  
          <div class="p-4 info mb-4">

            <a class="info-close" href="{% url 'signup-structure-lookup' %}">
              <i class="pi pi-times"></i>
            </a>
           
            <p> 
              <strong>Mairie de Montpellier</strong><br>
              <br>
              Maison (re)connectée : Version physique <br>
              1 Pl. Georges Frêche, 34000 Montpellier <br>
              mtp.quotidien@ville-montpellier.fr <br>
              04 67 34 70 00
            </p>
          </div>
  
  
          <p class="text-xs mb-4">Notre carte interactive visible par tous les médiateurs, répertorie les structures qui
            utilisent la maison (re)connectée en France. Seules les informations relatives à votre structure seront
            affichées, vos informations personnelles resteront confidentielles.</p>
  
  
          <a class="button button-secondary w-full" href="{% url 'mediateur' %}">
            Terminer l’inscription
          </a>
        </div>

        <div class="tunnel pt-4 pb-4 flex-shrink-0">
          <div class="dot mr-2"></div>
          <div class="dot mr-2"></div>
          <div class="dot current mr-2"></div>
        </div>

      </section>
      
{% endblock %}

