{% extends 'website/auth/base.html' %}
{% load static %}
{% block block_left %}

      <section class="pt-4 pb-4 flex flex-column">

        <div class="flex-grow-1">

          <h2 class="text-6xl font-secondary text-color-secondary font-normal mb-4">Inscrivez-vous !</h2>
          <h3 class=" font-bold mb-4">Les informations de votre structure*</h3>
  
          <div class="mb-4">
            <input type="text" placeholder="Adresse postale">
          </div>
  
          <div class="mb-4">
            <input type="text" placeholder="Email">
          </div>
  
          <div class="mb-4">
            <input type="text" placeholder="Téléphone (optionnel)">
          </div>
  
          <div class="mb-4">
            <input type="text" placeholder="Le type de maison (re)connectée utilisée">
          </div>
  
          <div class="flex mb-4">
            <label class="text-xs toggle-label mr-3 font-bold" for="toggle-switch">Je souhaite apparaître sur la carte
              intéractive</label>
            <input type="checkbox" class="switch" id="switch" /><label for="switch">Toggle</label>
          </div>
  
          <p class="text-xs mb-4">Notre carte interactive visible par tous les médiateurs, répertorie les structures qui
            utilisent la maison (re)connectée en France. Seules les informations relatives à votre structure seront
            affichées, vos informations personnelles resteront confidentielles.</p>
  
          <a class="button button-secondary w-full" href="{% url 'profile' %}">
            Terminer l’inscription
          </a>
        </div>


        <div class="tunnel pt-4 pb-4 flex-shrink-0">
          <div class="dot mr-2"></div>
          <div class="dot mr-2"></div>
          <div class="dot current mr-2"></div>
        </div>

      </section>

{% endblock %}

